<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="pl">
<head>
    <title>PKCK - launches</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/background.css}">
</head>
<body>
<div class="container center-block text-center">
    <h1 class="label label-primary" th:text="'Starty'"></h1>
    <form class="form-group" th:action="@{/launches}" th:object="${launch}" th:method="POST" th:enctype="utf8">
        <div th:replace="fragments/formFragments :: calendarInputFragment('launchDate', 'launchDate', 'Data startu')"></div>
        <div th:replace="fragments/formFragments :: labelInputFragment('cost', 'cost', 'Koszt')"></div>
        <div th:replace="fragments/formFragments :: comboboxInputFragment('launchpadRef', 'launchpadRef', 'Platforma startowa')"></div>
        <div th:replace="fragments/formFragments :: labelInputFragment('customerRef', 'customerRef', 'Klient')"></div>
        <div th:replace="fragments/formFragments :: labelInputFragment('payloadRef', 'payloadRef', 'Ładunek')"></div>
        <div th:replace="fragments/formFragments :: labelInputFragment('rocketRef', 'rocketRef', 'Rakieta')"></div>

        <p>
            <button class="btn btn-lg btn-primary btn-block" type="submit" th:text="Zapisz"></button>
        </p>
        <a class="btn btn-lg btn-primary btn-block" th:href="@{/}" th:text="Wróć"></a>
    </form>
    <br>


    <h1 class="label label-primary" th:text="'Not implemented'"></h1>
</div>
</body>
</html>